.language {
	position: relative;
  	display: inline-block;
  	margin-bottom: 7em;
}

.language img {
	padding-left: 5px;
	text-decoration: none;
	cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.language:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.language:hover .dropbtn {background-color: #3e8e41;}